@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    A8, Cody Technology Park<br />
Ively Road<br />
Farnborough<br />
Hampshire<br />
GU14 0LX<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@ukcloud.com">Support@ukcloud.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ukcloud.com">Marketing@ukcloud.com</a>
</address>
